<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name = "viewport" content = "width=device - width,initial-scale = 1.0">
    <title>登录</title>
    <link href = "/static/bootstrap/css/bootstrap.min.css" rel = "stylesheet" media ="screen">
    <link href = "/static/css/index.css" rel = "stylesheet" media ="screen">
</head>
<body>
<div class="container">
<div id = "frame1" class= "row">
    <div id = "frame2" class="col-md-6">
        <div>
        <img class = "image" src="/static/pictrue/180.jpg" >
        <img class = "image" src="/static/pictrue/181.jpg" >
        <img class = "image" src="/static/pictrue/182.jpg" >
        </div>
        <div>
        <img class = "image" src="/static/pictrue/183.jpg" >
        <img class = "image" src="/static/pictrue/184.jpg" >
        <img class = "image" src="/static/pictrue/185.jpg" >
        </div>
        <div>
        <img class = "image" src="/static/pictrue/186.jpg" >
        <img class = "image" src="/static/pictrue/187.jpg" >
        <img class = "image" src="/static/pictrue/188.jpg" >
        </div>
    </div>
    <div id = "frame3" class="col-md-6">
    <div class = "a">
        <a id = "zhuce" >注册</a>
        <a id = "login" >登录</a>
    </div >
        <div  class="signup" >
        <form action="#" method="POST">
            {%csrf_token%}
              <div class="zhuce-inputs">
              <input class="other" type="text" name = "username" placeholder="用户名" >
                  {{ errors.username }}
              <input class="other" type="text" name = "email" placeholder="注册邮箱">
                   {{ errors.email }}
              <input class="other" type="password" name = "password" placeholder="设置密码">
                  {{ errors.password }}
              <input class="yanzhen" type="text" name = "yzm" placeholder="邮箱验证码">
              <button type="submit" class="btn btn-info yanzhen">点击发送</button>
                  {{ errors.yzm }}
              </div>
            <input type="submit" class="btn btn-primary other" value="注册">
            </form>
            <h5>注册代表同意<a>注册协议</a></h5>
        </div>
        <div class="signin">
        <form action="#" method="POST">
          <div class="login-inputs">
              <input class="other" type="text" name = "login_email" placeholder="邮箱" >
              <input class="other" type="password" name = "login_password" placeholder="密码">
              {%csrf_token%}
          </div>
            <input type="submit" class="btn btn-primary other" value="登录" >
            </form>
        </div>
    </div>
</div>
</div>

<script src="/static/jquery.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/js/index.js"></script>
</body>
</html>