<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name = "viewport" content = "width=device - width,initial-scale = 1.0">
    <title>登录</title>
    <link href = "/static/bootstrap/css/bootstrap.min.css" rel = "stylesheet" media ="screen">
    <link href = "/static/css/index.css" rel = "stylesheet" media ="screen">
</head>
<body>
<div class="container">
<div id = "frame1" class= "row">
    <div id = "frame2" class="col-md-6">
        <div>
        <img class = "image" src="/static/pictrue/180.jpg" >
        <img class = "image" src="/static/pictrue/181.jpg" >
        <img class = "image" src="/static/pictrue/182.jpg" >
        </div>
        <div>
        <img class = "image" src="/static/pictrue/183.jpg" >
        <img class = "image" src="/static/pictrue/184.jpg" >
        <img class = "image" src="/static/pictrue/185.jpg" >
        </div>
        <div>
        <img class = "image" src="/static/pictrue/186.jpg" >
        <img class = "image" src="/static/pictrue/187.jpg" >
        <img class = "image" src="/static/pictrue/188.jpg" >
        </div>
    </div>
    <div id = "frame3" class="col-md-6">
    <div class = "a">
        <a class = "">注册</a>
        <a class = "">登录</a>
    </div >
        <div  class="signup" >
        <form action="#">
          <div class="zhuce-inputs">
              <input type="text" placeholder="用户名" >
              <input type="text" placeholder="注册邮箱">
              <input type="password" placeholder="设置密码">
              <input type="text" placeholder="邮箱验证码">
          </div>
            <button type="button" class="btn btn-primary" >注册</button>
            <h5>注册代表同意<a>注册协议</a></h5>
        </div>

        <div class="signin">
        <form action="#">
          <div class="login-inputs">
              <input type="text" placeholder="邮箱" >
              <input type="password" placeholder="密码">
          </div>
            <button type="button" class="btn btn-primary" >登录</button>

        </div>

    </div>
</div>
</div>
<script src="/static/jquery.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/js/index.js"></script>
</body>
</html>