body {

    background-image: url("/static/pictrue/bg_294f1b9.png");
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: 0px 50px;;
}

#frame1{
    margin: 150px 0px 0px 0px;  /* 上外边距  右外边距  下外边距  左外边距*/
    position:fixed;
}

.image {
    padding: 5px 5px 5px 5px;
    max-width:20%;
    max-height:20%;
}

#frame2{
    margin: 0px 0px 0px 50px;
      /* 上外边距  右外边距  下外边距  左外边距*/
}

#frame3{
    width: 400px;
    border-radius: 4px;
    box-shadow: 0 0 10px #12a591;
    background-color: #f6f6f6;
    padding: 30px 44px 44px;
}
div.a a{
   font-size :20px;
    display: inline-block;
    margin: 0px 50px 0px 50px;
    opacity:0.7;

}
a#zhuce{
    color: #5bc0de;
}
a#login{
    color: #555;
}
input.other{
      font-family: inherit;
      border: 0;
      border-top: 1px solid #e8e8e8;
      width: 100%;
      height: 48px;
      box-sizing: border-box;
      padding: 14px 11.2px;
      outline: none;
      font-size: 14px;
    }
.yanzhen{
      font-family: inherit;
      border: 0;
      border-top: 1px solid #e8e8e8;
      height: 48px;
      box-sizing: border-box;
      outline: none;
      font-size: 14px;
    }
input.yanzhen{
      width: 200px;
    padding: 14px 11.2px;
    }
button.yanzhen{
      width: 105px;
    }
.other{
    width: 100%;
    height: 48px;
    margin: 5px 0px 0px 0px;
}
.signin{
    display: none;

}
.signup{
    display: block;
}
h5{
margin: 20px 0px 0px 0px;
}
